<div class="container" style="border : 0.5em">
    <div class="grid">
        <div *ngIf="flag" class="d-flex justify-content-evenly">
            <div class="row" *ngFor="let n of [0,1,2,3,4]">
                <div class="col" *ngFor="let i of cardArray.splice(0, 5)">
                    <app-riquadro name="{{i.nome}}" img="{{i.img}}" status="{{i.stato}}"></app-riquadro>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <app-switchpage selector="indietro"></app-switchpage>
        <app-switchpage selector="avanti"></app-switchpage>
    </div>   
</div>

